{% block body %}
    <h1>My Form</h1>

    {{ form_start(form) }}

    {{ form_end(form) }}
    <br>
    {% if amount is defined %} You need to pay {{ amount|round(2,'floor')}} PLN {% endif %}
{% endblock %}